<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ECL E-Commerce</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown-submenu">
            <div class="dropdown">                
                <a id="dLabel" role="button" data-toggle="dropdown" class=" btn btn-lg btn-primary" data-target="hash" href="hash" aria-expanded="true">Categories<span class="caret"></span></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <% for(var i = 0; i < categories.length; i++) { %>
                        <li class="dropdown-submenu pull-right1"><a tabindex="-1" href="/products/<%= categories[i].id %>"><%= categories[i].name %></a>
                            <ul class="dropdown-menu">
                                <% for(var j = 0; j < S_categories[i].length; j++) { %>
                                    <li class="dropdown-submenu pull-right2"><a tabindex="-1" data-target="EMPLOYEE" href="/products/subCategory/<%= S_categories[i][j].id %>"><%= S_categories[i][j].name %></a>
                                        <ul class="dropdown-menu pull-right2">
                                            <li><a href="#" data-list-option="all" data-func="list-functions">ABC Brand</a></li>
                                        </ul>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

          <% if(user) { %>

          <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= user.profile.name %></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </li>

          <li>
            <span class="badge">
              <a href="#" class="glyphicon glyphicon-shopping-cart" data-toggle="modal" data-target="#cartModal">
                <span class="badge">
                  <%= cartItems %> Items
                </span>
                <br>
                <span class="badge">
                  Total: $<%= userCartTotalAmount %>
                </span>
            </a>
          </span>
          </li>

          <% } else { %>

          <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup/Login</a>
            <ul class="dropdown-menu">
              <li><a href="/signup">Signup</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/verify">Verify Email</a></li>
              <li><a href=""></a></li>
            </ul>
          </li>

          <li>
            <span class="badge">
              <a href="/login" class="glyphicon glyphicon-shopping-cart">
                <span class="badge">0 Items</span>
              </a>
              <br>
              <span class="badge">
                  Total: $ 0.00
              </span>
          </span>
          </li>
          <% } %>
          

    </ul>

  </div>

</nav>

<!-- Short Cart View Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Cart Items</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Items</h3>
              <br>
              <% if(userCart) { %>
              <% for (var i = 0; i < userCart.items.length; i++)  { %>
                <div class="list-group">
                    <span class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <span><img class="product-image" style="width: 100%" src="data:image/png;base64, <%= userCart.items[i].item.image %>"></span>
                            </div>
                            <div class="col-md-4">
                                <p class="list-group-item-heading">
                                    <%= userCart.items[i].item.name %>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>Qunantity:
                                    <%= userCart.items[i].quantity %>
                                </p>
                                <p>Price:
                                    <%= userCart.items[i].price %>
                                </p>
                            </div>
                        </div>
                    </span>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-primary" href="/cart">Cart Details</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
<!-- Short Cart View Modal -->