<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container navbar-border">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"
        ><i class="fa fa-home"></i> ECL eCommerce</a
      >
    </div>

    <div
      class="collapse navbar-collapse ac"
      id="bs-example-navbar-collapse-1"
      >
      <ul class="nav navbar-nav navbar-left">
        <!-- <li>
          <form
            class="navbar-form"
            role="search"
            method="POST"
            action="/search"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="search"
                name="q"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/all-secondhandproduct">Second</a>
        </li>
        <li>
          <a href="/pc-builder"><i class="fa fa-desktop color-desktop"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter color-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook color-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin color-linkedin"></i></a>
        </li>
        <li>
          <a href="/wishlist">
            <i class="glyphicon glyphicon-heart-empty"></i
          ></a>
        </li>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle glyphicon glyphicon-shopping-cart"
            data-toggle="dropdown"
          >
            <% if(cart) { %>
            <span class="badge">
              <%= cart.length %>
            </span>
            <br />
            <% } else { %>
            <span class="badge">
              0
            </span>
            <% } %>
          </a>
          <ul
            class="dropdown-menu login-panel"
            style="min-width:550px; padding: 10px 0;"
          >
            <li>
              <div>
                <% if(cart) { %>
                <table class="table table-striped alignmiddle">
                  <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <!-- <th>Actions</th> -->
                    <th>Subtotal</th>
                  </tr>
                  <% var total = 0; %> <% for(var i = 0; i < cart.length; i++) {
                  %> <% var subtotal = parseFloat(cart[i].unitPrice *
                  cart[i].quantity) %> <% var total = (total) + (subtotal) %>
                  <tr>
                    <td>
                      <img
                        class="product-image"
                        style="width: 10%; height: 10%;"
                        src="data:image/png;base64, <%= cart[i].image %>"
                      />
                    </td>
                    <td>
                      <%= cart[i].title %>
                    </td>
                    <td>
                      <%= cart[i].quantity %>
                    </td>
                    <td>
                      <%= cart[i].unitPrice %>
                    </td>
                    <td>
                      <%= subtotal %>
                    </td>
                  </tr>
                  <% } %>
                  <tr>
                    <td colspan="6" style="text-align:right;">
                      <b>Total: <%= total %></b>
                    </td>
                  </tr>
                </table>

                <% } else { %>
                <h3 class="text-center">Your Cart is empty</h3>
                <% } %>

                <div class="mf">
                  <% if(cart) { %>
                  <a type="button" class="btn btn-primary" href="/checkout"
                    >Cart Details</a
                  >
                  <% } %>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <% if(user) { %>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= user.profile.name %></a
          >
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/checkout">Cart</a></li>

            <li><a href="">Order</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            ><i class="fa fa-user-o" aria-hidden="true"></i> Signup or Login</a
          >
          <ul class="dropdown-menu">
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
    <center>
      <div>
        <ul class="">
          <form
                class="navbar-form"
                role="search"
                method="POST"
                action="/search"
              >
                <div class="input-group" style="width: 600px;">
                  <input
                    style="width: 550px;"
                    type="text"
                    class="form-control"
                    placeholder="Search here ..."
                    name="q"
                  />
                  <span class="input-group-btn" style="width: 50px;">
                    <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
        </ul>
      </div>
    </center>
</nav>
