<% layout('layoutPage') -%>

<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="">
            
            <br/>
            <p> Name: <%= user.profile.name %></p>
            <p> Email: <%= user.email %></p>
            <% if(user.contact === '' || typeof user.contact === 'undefined') { %> 
                <p>Contact: <span style="color: brown; font-weight: bold">You have no contact</span></p>
            <% } else { %>
                <p> Contact: <%= user.contact %></p>
            <% } %>
            <% if(user.address.city === '' || typeof user.address.city === 'undefined') { %> 
                <p>Address: <span style="color: brown; font-weight: bold">You have no address</span></p>
            <% } else { %>
                <p> Address: <%= user.address.city %></p>
            <% } %>

            <div class="row">
                <div class="col-md-8 mb-3">
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Your Orders</a>
                    <br>
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Your Addresses</a>
                    <br>
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Login & Security</a>
                    <br>
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Payment Options</a>
                    <br>
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Gift Cards</a>
                    <br>
                    <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>
                    <br>   
                    <a href="/edit-address" class="btn btn-primary btn-lg">Edit Address</a>
                </div>
            </div>
            <br>
            <% if(user.isSeller === true) { %>
                <p class="lead">Seller Actions</p>
                <div class="row">
                        <div class="col-md-8 mb-3">
                                <a href="/add-product" class="btn btn-primary btn-lg">Post Products For Sell</a>
                                <br>
                                <br>
                                <a href="/edit-profile" class="btn btn-primary btn-lg">My Products</a>
                        </div>
                </div>
            <% } %>

        </div>

        <div class="col-md-8">
            
            <table class="table table-stripped sticky-header"> 
                <h2 class="text-center"> Oredered Product Histroy</h2>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Amount</th>
                    </tr>
                    <tbody>
                        <% if (orders) { %>
                        <% for (var i = 0; i < orders.length; i++ )  { %>
                            <tr>
                                <td><%= orders[i].created %></td>
                                <td>
                                </td>
                                <td><%= orders[i].totalAmount %></td>
                            </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </thead>

            </table>
        </div>

    </div>



</div>



<!-- {{# each order.cart}}

<tr>
    <td class="text-left">
        <a href="#">{{this.title}}</a>
        <br>
    </td>
    <td class="text-right">{{this.quantity}}</td>
    <td class="text-right">{{this.unitPrice}}TK</td>
    <td class="text-right">{{this.price}}TK</td>
</tr>
{{/each}} -->