<% layout('layoutPage') -%>

<div class="container" style="margin-top: 100px">
  <% if(cart) { %>
  <h1 class="page-title">Cart Items</h1>
  <table class="table table-striped alignmiddle">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Actions</th>
      <th>Subtotal</th>
    </tr>
    <% var total = 0; %> <% for(var i = 0; i < cart.length; i++) { %> <% var
    subtotal = parseFloat(cart[i].unitPrice * cart[i].quantity) %> <% var total
    = (total) + (subtotal) %>
    <tr>
      <td>
        <img
          class="product-image"
          style="width: 20%; height: 20%;"
          src="data:image/png;base64, <%= cart[i].image %>"
        />
      </td>
      <td>
        <%= cart[i].title %>
      </td>
      <td>
        <%= cart[i].quantity %>
      </td>
      <td>
        <%= cart[i].unitPrice %>
      </td>
      <td>
        <li style="display:inline;">
          <a href="/cart/update/<%= cart[i].product_id %>?action=increase"
            ><b>(+)</b></a
          >&nbsp;
        </li>
        <li style="display:inline;">
          <a href="/cart/update/<%= cart[i].product_id %>?action=decrease"
            ><b>(-)</b></a
          >&nbsp;
        </li>
        <li style="display:inline;">
          <a href="/cart/update/<%= cart[i].product_id %>?action=remove">(x)</a
          >&nbsp;
        </li>
      </td>
      <td>
        <%= subtotal %>
      </td>
    </tr>

    <% } %>
    <tr>
      <td colspan="6" style="text-align:right;"><b>Total: <%= total %></b></td>
    </tr>
    <tr>
      <td colspan="7" style="text-align:center">
        <a class="clearcart btn btn-danger" href="/clear">Clear Cart</a>
        <a class="btn btn-success" href="/">Continue Shopping</a>
        <a class="btn btn-primary" href="/payment">Confirm Order</a>
      </td>
    </tr>
  </table>

  <% } else { %>
  <h3 class="text-center">Your Cart is empty</h3>
  <% } %>
</div>

<!-- BEGIN # MODAL LOGIN -->
<div
  class="modal fade"
  id="login-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img
          class="img-circle"
          id="img_logo"
          src="http://bootsnipp.com/img/logo.jpg"
        />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>

      <!-- Begin # DIV Form -->
      <div id="div-forms">
        <!-- Begin # Login Form -->
        <form id="login-form">
          <div class="modal-body">
            <div id="div-login-msg">
              <div
                id="icon-login-msg"
                class="glyphicon glyphicon-chevron-right"
              ></div>
              <span id="text-login-msg">Type your username and password.</span>
            </div>
            <input
              id="login_username"
              class="form-control"
              type="text"
              placeholder="Username (type ERROR for error effect)"
              required
            />
            <input
              id="login_password"
              class="form-control"
              type="password"
              placeholder="Password"
              required
            />
            <div class="checkbox">
              <label> <input type="checkbox" /> Remember me </label>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Login
              </button>
            </div>
            <div>
              <button id="login_lost_btn" type="button" class="btn btn-link">
                Lost Password?
              </button>
              <button
                id="login_register_btn"
                type="button"
                class="btn btn-link"
              >
                Register
              </button>
            </div>
          </div>
        </form>
        <!-- End # Login Form -->

        <!-- Begin | Lost Password Form -->
        <form id="lost-form" style="display:none;">
          <div class="modal-body">
            <div id="div-lost-msg">
              <div
                id="icon-lost-msg"
                class="glyphicon glyphicon-chevron-right"
              ></div>
              <span id="text-lost-msg">Type your e-mail.</span>
            </div>
            <input
              id="lost_email"
              class="form-control"
              type="text"
              placeholder="E-Mail (type ERROR for error effect)"
              required
            />
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Send
              </button>
            </div>
            <div>
              <button id="lost_login_btn" type="button" class="btn btn-link">
                Log In
              </button>
              <button id="lost_register_btn" type="button" class="btn btn-link">
                Register
              </button>
            </div>
          </div>
        </form>
        <!-- End | Lost Password Form -->

        <!-- Begin | Register Form -->
        <form id="register-form" style="display:none;">
          <div class="modal-body">
            <div id="div-register-msg">
              <div
                id="icon-register-msg"
                class="glyphicon glyphicon-chevron-right"
              ></div>
              <span id="text-register-msg">Register an account.</span>
            </div>
            <input
              id="register_username"
              class="form-control"
              type="text"
              placeholder="Username (type ERROR for error effect)"
              required
            />
            <input
              id="register_email"
              class="form-control"
              type="text"
              placeholder="E-Mail"
              required
            />
            <input
              id="register_password"
              class="form-control"
              type="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Register
              </button>
            </div>
            <div>
              <button
                id="register_login_btn"
                type="button"
                class="btn btn-link"
              >
                Log In
              </button>
              <button id="register_lost_btn" type="button" class="btn btn-link">
                Lost Password?
              </button>
            </div>
          </div>
        </form>
        <!-- End | Register Form -->
      </div>
      <!-- End # DIV Form -->
    </div>
  </div>
</div>
