<% layout('layoutPage') -%>
<!-- NAVIGATION -->
<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav">
        <span class="category-header"
          >ALL Categories ECL <i class="fa fa-list"></i
        ></span>
        <ul class="category-list">
          <li class="dropdown side-dropdown" role="menu" aria-labelledby="dropdownMenu">
            <% for(var i = 0; i < categories.length; i++) { %> <%
            if(categories[i].subCategories.length != 0) { %>
            <li class="dropdown-submenu pull-right1">
              <a tabindex="-1" href="/products/category/<%= categories[i].id %>">
                <%= categories[i].name %></a
              >
              <ul class="dropdown-menu">
                <% for(var j = 0; j < categories[i].subCategories.length; j++) { %>
                <li class="dropdown-submenu pull-right2">
                  <a
                    tabindex="-1"
                    data-target=""
                    href="/products/subCategory/<%= categories[i].subCategories[j].id %>"
                  >
                    <%= categories[i].subCategories[j].name %></a
                  >
                  <ul class="dropdown-menu pull-right2">
                    <% for(var k = 0; k <
                    categories[i].subCategories[j].brands.length; k++) { %>
                    <li>
                      <a
                        data-target=""
                        href="/products/<%= categories[i].id %>/<%= categories[i].subCategories[j].id %>/<%= categories[i].subCategories[j].brands[k].id %>"
                      >
                        <%= categories[i].subCategories[j].brands[k].name %></a
                      >
                    </li>
                    <% } %>
                  </ul>
                </li>
                <% } %>
              </ul>
            </li>
            <% }else{ %>
            <li class="dropdown-submenu pull-right1">
              <a
                tabindex="-1"
                data-target=""
                href="/products/category/<%= categories[i].id %>"
              >
                <%= categories[i].name %></a
              >
              <ul class="dropdown-menu">
                <% for(var k = 0; k < categories[i].brands.length; k++) { %>
                <li>
                  <a
                    data-target=""
                    href="/products/<%= categories[i].id %>/<%= categories[i].brands[k].id %>"
                  >
                    <%= categories[i].brands[k].name %></a
                  >
                  <% } %>
                </li>
              </ul>
            </li>
            <% } %> <% } %>
          </li>
        </ul>
      </div>
      <!-- /category nav -->

      <!-- menu nav -->
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li>
            <a href="/all-secondhandproduct"> Used Product</a>
          </li>
          <li>
            <a href="/pc-builder"
              ><i class="fa fa-desktop color-desktop"></i> PC Builder</a
            >
          </li>
          <li class="dropdown default-dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-expanded="true"
              >Pages <i class="fa fa-caret-down"></i
            ></a>
            <ul class="custom-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="products.html">Products</a></li>
              <li><a href="product-page.html">Product Details</a></li>
              <li><a href="checkout.html">Checkout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- menu nav -->
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /NAVIGATION -->

<div id="home">
  <!-- container -->
  <div class="container">
    <!-- home wrap -->
    <div class="home-wrap">
      <!-- home slick -->
      <div id="home-slick">
        <!-- banner -->
        <div class="banner banner-1">
          <img src="./inc/img/banner01.jpg" alt="" />
          <div class="banner-caption text-center">
            <h1>Bags sale</h1>
            <h3 class="white-color font-weak">Up to 50% Discount</h3>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
        <!-- /banner -->

        <!-- banner -->
        <div class="banner banner-1">
          <img src="./inc/img/banner02.jpg" alt="" />
          <div class="banner-caption">
            <h1 class="primary-color">
              HOT DEAL<br /><span class="white-color font-weak"
                >Up to 50% OFF</span
              >
            </h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
        <!-- /banner -->

        <!-- banner -->
        <div class="banner banner-1">
          <img src="./inc/img/banner03.jpg" alt="" />
          <div class="banner-caption">
            <h1 class="white-color">New Product <span>Collection</span></h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
        <!-- /banner -->
      </div>
      <!-- /home slick -->
    </div>
    <!-- /home wrap -->
  </div>
  <!-- /container -->
</div>
<!-- /HOME -->

<!-- section collection -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section-title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Collections</h2>
        </div>
      </div>
      <!-- /section-title -->
      <% for(var i = 0; i < 4; i++) { %> <% if(categories[i].subCategories.length
        != 0) { %>
        <div class="col-md-3 col-sm-4">
          <div class="card">
            <a class="banner banner-1" href="/products/category/<%= categories[i].id %>">
              <img src="./inc/img/banner10.jpg" alt="" />
              <div class="banner-caption text-center">
                <h2 class="white-color"><%= categories[i].name %></h2>
              </div>
            </a>
          </div>
        </div>
        <% } %> <% } %>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section collection -->

<!-- section Deals and Offer -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row deals of the Day -->
    <div class="row">
      <!-- section-title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Deals Of The Day</h2>
          <div class="pull-right">
            <div class="product-slick-dots-1 custom-dots"></div>
          </div>
        </div>
      </div>
      <!-- /section-title -->

      <!-- banner -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="banner banner-2">
          <img src="./inc/img/banner14.jpg" alt="" />
          <div class="banner-caption">
            <h2 class="white-color">NEW<br />COLLECTION</h2>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
      </div>
      <!-- /banner -->

      <!-- Product Slick -->
      <div class="col-md-9 col-sm-6 col-xs-6">
        <div class="row">
          <div id="product-slick-1" class="product-slick">
            <!-- Product Single -->
            <% if( hotDealsProducts ) { %> <% for ( var i = 0; i <
              hotDealsProducts.length; i++ ) { %>
            <div class="product product-single">
              <div class="product-thumb">
                <div class="product-label">
                  <span>New</span>
                  <span class="sale">-20%</span>
                </div>
                <ul class="product-countdown">
                  <li><span>00 H</span></li>
                  <li><span>00 M</span></li>
                  <li><span>00 S</span></li>
                </ul>
                <button class="main-btn quick-view" >
                  <i class="fa fa-search-plus"></i><a href="/product/<%= discountProducts[i]._id %>">Quick view</a> 
                </button>
                <img height="50%"
                width="50%"
                class="img-responsive"
                alt="Card image cap"
                src="<%= discountProducts[i].image[0] %>" />
              </div>
              <div class="product-body">
                <h3 class="product-price">
                  <% if (hotDealsProducts[i].discount) { %> <%if
                    (hotDealsProducts[i].discount.enabled) { %> <%
                    if(hotDealsProducts[i].discount.usePercentage) { %> <% var
                    discountPrice = parseFloat(hotDealsProducts[i].sellingPrice) -
                    parseFloat((parseFloat(hotDealsProducts[i].sellingPrice) *
                    parseFloat(hotDealsProducts[i].discount.discountPercent)) / 100 );
                    %> <% } else { %> <% var discountPrice =
                    parseFloat(hotDealsProducts[i].sellingPrice) -
                    parseFloat(hotDealsProducts[i].discount.discountAmount); %> <% }
                    %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= hotDealsProducts[i].sellingPrice %>TK</del>
                </h3>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name">
                  <a href="#"><%= hotDealsProducts[i].name %></a>
                </h2>
                <div class="product-btns">
                  <button class="main-btn icon-btn">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="main-btn icon-btn">
                    <i class="fa fa-exchange"></i>
                  </button>
                  <button class="primary-btn add-to-cart">
                    <i class="fa fa-shopping-cart"></i><a href="/product/<%= hotDealsProducts[i]._id %>">Add to Cart</a>
                  </button>
                </div>
              </div>
            </div>
            <% } %> <% } %>
            <!-- /Product Single -->
          </div>
        </div>
      </div>
      <!-- /Product Slick -->
    </div>
    <!-- /row deals of the Day -->

    <!-- row Discount -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Discount</h2>
          <div class="pull-right">
            <div class="product-slick-dots-2 custom-dots"></div>
          </div>
        </div>
      </div>
      <!-- section title -->

      <% if( discountProducts ) { %> 
      <!-- Product Single -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single product-hot">
          <div class="product-thumb">
            <div class="product-label">
              <span></span>
            </div>
            <div class="product-label">
            </div>
            <button class="main-btn quick-view">
              <i class="fa fa-search-plus"></i><a href="/product/<%= discountProducts[0]._id %>">Quick view</a>
            </button>
            <img height="50%"
            width="50%"
            class="img-responsive"
            alt="Card image cap"
            src="<%= discountProducts[0].image[0] %>" />
          </div>
          <div class="product-body">
            <h3 class="product-price">
              <% if (discountProducts[0].discount) { %> <%if
                (discountProducts[0].discount.enabled) { %> <%
                if(discountProducts[0].discount.usePercentage) { %> <% var
                discountPrice = parseFloat(discountProducts[0].sellingPrice) -
                parseFloat((parseFloat(discountProducts[0].sellingPrice) *
                parseFloat(discountProducts[0].discount.discountPercent)) / 100 );
                %> <% } else { %> <% var discountPrice =
                parseFloat(discountProducts[0].sellingPrice) -
                parseFloat(discountProducts[0].discount.discountAmount); %> <% }
                %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= discountProducts[0].sellingPrice %>TK</del>
            </h3>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o empty"></i>
            </div>
            <h2 class="product-name"><a href="#"><%= discountProducts[0].name %></a></h2>
            <div class="product-btns">
              <button class="main-btn icon-btn">
                <i class="fa fa-heart"></i>
              </button>
              <button class="main-btn icon-btn">
                <i class="fa fa-exchange"></i>
              </button>
              <button class="primary-btn add-to-cart">
                <i class="fa fa-shopping-cart"></i><a href="/product/<%= discountProducts[0]._id %>">Add to Cart</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Product Single -->
      <% } %> 

      <!-- Product Slick -->
      <div class="col-md-9 col-sm-6 col-xs-6">
        <div class="row">
          <div id="product-slick-2" class="product-slick">
            <!-- Product Single -->
            <% if( discountProducts ) { %> <% for ( var i = 0; i < discountProducts.length; i++ ) { %>
            <div class="product product-single">
              <div class="product-thumb">
                <button class="main-btn quick-view">
                  <i class="fa fa-search-plus"></i><a href="/product/<%= discountProducts[i]._id %>">Quick view</a>
                </button>
                <img height="50%"
                width="50%"
                class="img-responsive"
                alt="Card image cap" src="<%= discountProducts[i].image[0] %>"/>
              </div>
              <div class="product-body">
                <h3 class="product-price">
                  <% if (discountProducts[i].discount) { %> <%if
                    (discountProducts[i].discount.enabled) { %> <%
                    if(discountProducts[i].discount.usePercentage) { %> <% var
                    discountPrice = parseFloat(discountProducts[i].sellingPrice) -
                    parseFloat((parseFloat(discountProducts[i].sellingPrice) *
                    parseFloat(discountProducts[i].discount.discountPercent)) / 100 );
                    %> <% } else { %> <% var discountPrice =
                    parseFloat(discountProducts[i].sellingPrice) -
                    parseFloat(discountProducts[i].discount.discountAmount); %> <% }
                    %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= discountProducts[i].sellingPrice %>TK</del>
                </h3>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name">
                  <a href="#"><%= discountProducts[i].name %></a>
                </h2>
                <div class="product-btns">
                  <button class="main-btn icon-btn">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button class="main-btn icon-btn">
                    <i class="fa fa-exchange"></i>
                  </button>
                  <button class="primary-btn add-to-cart">
                    <i class="fa fa-shopping-cart"></i><a href="/product/<%= discountProducts[i]._id %>">Add to Cart</a> 
                  </button>
                </div>
              </div>
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
      <!-- /Product Slick -->
    </div>
    <!-- /row Discount -->
  </div>
  <!-- /container -->
</div>
<!-- /section Deals and Offer -->

<!-- section grey -->
<div class="section section-grey">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- banner -->
      <div class="col-md-8">
        <div class="banner banner-1">
          <img src="./inc/img/banner13.jpg" alt="" />
          <div class="banner-caption text-center">
            <h1 class="primary-color">
              HOT DEAL<br /><span class="white-color font-weak"
                >Up to 50% OFF</span
              >
            </h1>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <img src="./inc/img/banner11.jpg" alt="" />
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <img src="./inc/img/banner12.jpg" alt="" />
          <div class="banner-caption text-center">
            <h2 class="white-color">NEW COLLECTION</h2>
          </div>
        </a>
      </div>
      <!-- /banner -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section grey -->

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Latest Products</h2>
        </div>
      </div>
      <!-- section title -->

      <!-- Product Single -->
      <% if( recentProducts ) { %> <% for ( var i = 0; i < 4; i++ ) { %>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
          <div class="product-thumb">
            <div class="product-label">
              <span>New</span>
              <span class="sale"></span>
            </div>
            <button class="main-btn quick-view">
              <i class="fa fa-search-plus"></i><a href="/product/<%= recentProducts[i]._id %>">Quick view</a>
            </button>
            <img height="50%"
            width="50%"
            class="img-responsive"
            alt="Card image cap" src="<%= recentProducts[i].image[0] %>"/>
          </div>
          <div class="product-body">
            <h3 class="product-price"><%= recentProducts[i].sellingPrice %> TK</h3>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o empty"></i>
            </div>
            <h2 class="product-name"><a href="#"><%= recentProducts[i].name %></a></h2>
            <div class="product-btns">
              <button class="main-btn icon-btn">
                <i class="fa fa-heart"></i>
              </button>
              <button class="main-btn icon-btn">
                <i class="fa fa-exchange"></i>
              </button>
              <button class="primary-btn add-to-cart">
                <i class="fa fa-shopping-cart"></i><a href="/product/<%= recentProducts[i]._id %>">Add to Cart</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } %>
      <!-- /Product Single -->
    </div>
    <!-- /row -->

    <!-- row -->
    <div class="row">
      <!-- banner -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="banner banner-2">
          <img src="./inc/img/banner15.jpg" alt="" />
          <div class="banner-caption">
            <h2 class="white-color">NEW<br />COLLECTION</h2>
            <button class="primary-btn">Shop Now</button>
          </div>
        </div>
      </div>
      <!-- /banner -->

      <!-- Product Single -->
      <% if( recentProducts ) { %> <% for ( var i = 3; i > 0; i-- ) { %>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single">
            <div class="product-thumb">
              <div class="product-label">
                <span>New</span>
                <span class="sale"></span>
              </div>
              <button class="main-btn quick-view">
                <i class="fa fa-search-plus"></i><a href="/product/<%= recentProducts[i]._id %>">Quick view</a>
              </button>
              <img height="50%"
              width="50%"
              class="img-responsive"
              alt="Card image cap" src="<%= recentProducts[i].image[0] %>"/>
            </div>
            <div class="product-body">
              <h3 class="product-price"><%= recentProducts[i].sellingPrice %> TK</h3>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
              </div>
              <h2 class="product-name"><a href="#"><%= recentProducts[i].name %></a></h2>
              <div class="product-btns">
                <button class="main-btn icon-btn">
                  <i class="fa fa-heart"></i>
                </button>
                <button class="main-btn icon-btn">
                  <i class="fa fa-exchange"></i>
                </button>
                <button class="primary-btn add-to-cart">
                  <i class="fa fa-shopping-cart"></i><a href="/product/<%= recentProducts[i]._id %>">Add to Cart</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %> <% } %>
      <!-- /Product Single -->
    </div>
    <!-- /row -->

    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Picked For You</h2>
        </div>
      </div>
      <!-- section title -->

      <!-- Product Single -->
      <% if( recentProducts ) { %> <% for ( var i = 0; i < 4; i++ ) { %>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single">
            <div class="product-thumb">
              <div class="product-label">
                <span></span>
              </div>
              <button class="main-btn quick-view">
                <i class="fa fa-search-plus"></i><a href="/product/<%= recentProducts[i]._id %>">Quick view</a>
              </button>
              <img height="50%"
              width="50%"
              class="img-responsive"
              alt="Card image cap" src="<%= recentProducts[i].image[0] %>"/>
            </div>
            <div class="product-body">
              <h3 class="product-price"><%= recentProducts[i].sellingPrice %> TK</h3>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
              </div>
              <h2 class="product-name"><a href="#"><%= recentProducts[i].name %></a></h2>
              <div class="product-btns">
                <button class="main-btn icon-btn">
                  <i class="fa fa-heart"></i>
                </button>
                <button class="main-btn icon-btn">
                  <i class="fa fa-exchange"></i>
                </button>
                <button class="primary-btn add-to-cart">
                  <i class="fa fa-shopping-cart"></i><a href="/product/<%= recentProducts[i]._id %>">Add to Cart</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %> <% } %>
      <!-- /Product Single -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->
