<!-- 
  Author: Mohammad Jihad Hossain
  Create Date: 21/03/2020
  Modify Date: 21/03/2020
  Description: Product Page for ECL E-Commerce 
  -->

  <% layout('layoutPage') -%>

  <!-- NAVIGATION -->
  <div id="navigation">
	<!-- container -->
	<div class="container">
	  <div id="responsive-nav">
		<!-- category nav -->
		<div class="category-nav show-on-click">
		  <span class="category-header"
			>ALL Categories ECL <i class="fa fa-list"></i
		  ></span>
		  <ul class="category-list">
			<li class="dropdown side-dropdown" role="menu" aria-labelledby="dropdownMenu">
			  <% for(var i = 0; i < categories.length; i++) { %> <%
			  if(categories[i].subCategories.length != 0) { %>
			  <li class="dropdown-submenu pull-right1">
				<a tabindex="-1" href="/products/category/<%= categories[i].id %>">
				  <%= categories[i].name %></a
				>
				<ul class="dropdown-menu">
				  <% for(var j = 0; j < categories[i].subCategories.length; j++) { %>
				  <li class="dropdown-submenu pull-right2">
					<a
					  tabindex="-1"
					  data-target=""
					  href="/products/subCategory/<%= categories[i].subCategories[j].id %>"
					>
					  <%= categories[i].subCategories[j].name %></a
					>
					<ul class="dropdown-menu pull-right2">
					  <% for(var k = 0; k <
					  categories[i].subCategories[j].brands.length; k++) { %>
					  <li>
						<a
						  data-target=""
						  href="/products/<%= categories[i].id %>/<%= categories[i].subCategories[j].id %>/<%= categories[i].subCategories[j].brands[k].id %>"
						>
						  <%= categories[i].subCategories[j].brands[k].name %></a
						>
					  </li>
					  <% } %>
					</ul>
				  </li>
				  <% } %>
				</ul>
			  </li>
			  <% }else{ %>
			  <li class="dropdown-submenu pull-right1">
				<a
				  tabindex="-1"
				  data-target=""
				  href="/products/category/<%= categories[i].id %>"
				>
				  <%= categories[i].name %></a
				>
				<ul class="dropdown-menu">
				  <% for(var k = 0; k < categories[i].brands.length; k++) { %>
				  <li>
					<a
					  data-target=""
					  href="/products/<%= categories[i].id %>/<%= categories[i].brands[k].id %>"
					>
					  <%= categories[i].brands[k].name %></a
					>
					<% } %>
				  </li>
				</ul>
			  </li>
			  <% } %> <% } %>
			</li>
		  </ul>
		</div>
		<!-- /category nav -->
  
		<!-- menu nav -->
		<div class="menu-nav">
		  <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
		  <ul class="menu-list">
			<li>
			  <a href="/all-secondhandproduct"> Used Product</a>
			</li>
			<li>
			  <a href="/pc-builder"
				><i class="fa fa-desktop color-desktop"></i> PC Builder</a
			  >
			</li>
			<li class="dropdown default-dropdown">
			  <a
				class="dropdown-toggle"
				data-toggle="dropdown"
				aria-expanded="true"
				>Pages <i class="fa fa-caret-down"></i
			  ></a>
			  <ul class="custom-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="products.html">Products</a></li>
				<li><a href="product-page.html">Product Details</a></li>
				<li><a href="checkout.html">Checkout</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
		<!-- menu nav -->
	  </div>
	</div>
	<!-- /container -->
  </div>
  <!-- /NAVIGATION -->


<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#"><%= product.category.name %></a></li>
			<li class="active"><%= product.name %></li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<div class="container">
	<!-- error or success message -->
	<% if (errors.length > 0) { %>
	<div class="alert alert-danger alert-dismissible">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <%= errors %>
	</div>
	<% } %> <% if (message.length > 0) { %>
	<div class="alert alert-success alert-dismissible">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <%= message %>
	</div>
	<% } %>
	<!-- error or success message -->
</div>

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<% if(product) { %>
			<div class="product product-details clearfix">
				<div class="col-md-6">
					<div id="product-main-view">
						<% for( var i=0; i< product.image.length; i++ ){ %>
						<div class="product-view">
							<img src="<%= product.image[i] %>" alt="">
						</div>
						<% } %>
					</div>
					<div id="product-view">
						<% for( var i=0; i< product.image.length; i++ ){ %>
							<div class="product-view">
								<img src="<%= product.image[i] %>" alt="">
							</div>
						<% } %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						<div class="product-label">
							<span>New</span>
							<span class="sale">-20%</span>
						</div>
						<h2 class="product-name"><%= product.name %></h2>
						<% if(discountPrice) { %>
						<h3 class="product-price"><%= discountPrice %>TK<del class="product-old-price"><%= product.sellingPrice %>TK</del></h3>
						<% } else { %>
							<h3 class="product-price"><%= product.sellingPrice %>TK</h3>
						<% } %>
						<% if(product.averageRating) { %>
						<div>
							<div class="product-rating"> <%= product.averageRating %>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<a href="#"> Review(s) / Add Review</a>
						</div>
						<% } else { %>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#"> Review(s) / Add Review</a>
							</div>
							<% } %>
						<% if(product.availablity === true) { %>
						<p><strong>Availability:</strong> In Stock</p>
						<% } else { %>
							<p><strong>Availability:</strong> Out of Stock</p>
						<% } %>
						<p><strong>Brand:</strong> <%= product.brand.name %></p>
						<p><%= product.description %></p>
						<!-- <div class="product-options">
							<ul class="size-option">
								<li><span class="text-uppercase">Size:</span></li>
								<li class="active"><a href="#">S</a></li>
								<li><a href="#">XL</a></li>
								<li><a href="#">SL</a></li>
							</ul>
							<ul class="color-option">
								<li><span class="text-uppercase">Color:</span></li>
								<li class="active"><a href="#" style="background-color:#475984;"></a></li>
								<li><a href="#" style="background-color:#8A2454;"></a></li>
								<li><a href="#" style="background-color:#BF6989;"></a></li>
								<li><a href="#" style="background-color:#9A54D8;"></a></li>
							</ul>
						</div> -->
						<form method="POST" action="/add-to-cart">
							<div class="product-btns">
								<input type="hidden" name="product_id" id="product_id" value="<%= product._id %>"/>
								<div class="qty-input">
									<span class="text-uppercase">QTY: </span>
									<input class="input" type="number" name="quantity" id="quantity">
								</div>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							
								<div class="pull-right">
									<!-- <button class="main-btn icon-btn"><a href="/add-to-wishlist/<%= product._id %>"><i class="fa fa-heart"></i></a></button> -->
									<!-- <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button> -->
								</div>
							</div>
						</form>
						<br>
						<div>
							<button class="main-btn icon-btn"><a href="/add-to-wishlist/<%= product._id %>"><i class="fa fa-heart"></i></a></button>
						</div>
						
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab">Description</a></li>
							<li><a data-toggle="tab" href="#tab1">Specification</a></li>
							<li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
							<li><a data-toggle="tab" href="#tab3">Question</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab" class="tab-pane fade in active">
								<% if(product.description) { %>
									<p><%= product.description %></p>
								<% } else { %>
									<p> No Details</p>
								<% } %>
							</div>
							<div id="tab1" class="tab-pane fade in">
								<div class="row">
									<li class="list-group-item">
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Name</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong> <%= product.name %></strong>
										</div>
									  </div>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Price</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= product.sellingPrice %>TK
										  </strong>
										</div>
									  </div>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Brand</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong> <%= product.brand.name %></strong>
										</div>
									  </div>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Model</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= product.model %>
										  </strong>
										</div>
									  </div>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Weight</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= product.weight %> KG
										  </strong>
										</div>
									  </div>
									  <% if(features) { %> <% for ( var i = 0; i < features.length; i++) {
									  %>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= features[i].label.name %>
										  </strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= features[i].value %>
										  </strong>
										</div>
									  </div>
									  <% } %> <% } %>
									  <hr />
									  <div class="row">
										<div class="col-md-3 col-md-6 ">
										  <strong>Warranty</strong>
										</div>
										<div class="col-md-3 col-md-6">
										  <strong>
											<%= product.warranty %>
										  </strong>
										</div>
									  </div>
									</li>
								  </div>
							</div>
							<div id="tab2" class="tab-pane fade in">
								<!-- <div class="row">
									<div class="col-md-6">
										<div class="product-reviews">
											<div class="single-review">
												<div class="review-heading">
													<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
													<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
													<div class="review-rating pull-right">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
														irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												</div>
											</div>

											<div class="single-review">
												<div class="review-heading">
													<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
													<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
													<div class="review-rating pull-right">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
														irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												</div>
											</div>

											<div class="single-review">
												<div class="review-heading">
													<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
													<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
													<div class="review-rating pull-right">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
														irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												</div>
											</div>

											<ul class="reviews-pages">
												<li class="active">1</li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<h4 class="text-uppercase">Write Your Review</h4>
										<p>Your email address will not be published.</p>
										<form class="review-form">
											<div class="form-group">
												<input class="input" type="text" placeholder="Your Name" />
											</div>
											<div class="form-group">
												<input class="input" type="email" placeholder="Email Address" />
											</div>
											<div class="form-group">
												<textarea class="input" placeholder="Your review"></textarea>
											</div>
											<div class="form-group">
												<div class="input-rating">
													<strong class="text-uppercase">Your Rating: </strong>
													<div class="stars">
														<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
														<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
														<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
														<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
														<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
													</div>
												</div>
											</div>
											<button class="primary-btn">Submit</button>
										</form>
									</div>
								</div> -->
								<form action="/post-review" method="POST">
									<h3>Write your review</h3>
									<input
									  type="hidden"
									  name="hidden_product_id"
									  id="hidden_product_id"
									  value="<%= product._id %>"
									/>
									<div class="row">
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<input
										  name="title"
										  placeholder="Title*"
										  type="text"
										  class="form-control"
										/>
									  </div>
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<input
										  name="email"
										  placeholder="Your Email"
										  type="text"
										  class="form-control"
										/>
									  </div>
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<textarea
										  name="description"
										  rows="5"
										  placeholder="Your Review*"
										  class="form-control"
										></textarea>
									  </div>
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<label class="control-label">Rating:</label>
										&nbsp;Bad &nbsp;
										<input type="radio" name="rating" value="1" /> &nbsp;
										<input type="radio" name="rating" value="2" /> &nbsp;
										<input type="radio" name="rating" value="3" /> &nbsp;
										<input type="radio" name="rating" value="4" /> &nbsp;
										<input type="radio" name="rating" value="5" /> Good <br /><br />
										<button type="submit" id="button-review" class="btn submit-btn">
										  Submit Review
										</button>
									  </div>
									</div>
								  </form>
							</div>
							<div id="tab3" class="tab-pane fade in">
								<form action="/post-question" method="POST">
									<h3>Write your question</h3>
									<input
									  type="hidden"
									  name="product_id"
									  id="product_id"
									  value="<%= product._id %>"
									/>
									<div class="row">
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<input
										  name="name"
										  placeholder="Name*"
										  type="text"
										  class="form-control"
										/>
									  </div>
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<input
										  name="email"
										  placeholder="Your Email"
										  type="text"
										  class="form-control"
										/>
									  </div>
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<textarea
										  name="question"
										  rows="5"
										  placeholder="Your Question*"
										  class="form-control"
										></textarea>
									  </div>
									  <br /><br />
									  <div class="col-xs-12 col-sm-6 col-md-6">
										<button type="submit" id="button-review" class="btn submit-btn">
										  Submit Question
										</button>
									  </div>
									</div>
								  </form>
							</div>
						</div>
					</div>
				</div>

			</div>
			<% } %>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section Related and Latest -->
<div class="section">
	<!-- container -->
	<div class="container">
	  <!-- row deals of the Day -->
	  <div class="row">
		<!-- section-title -->
		<div class="col-md-12">
		  <div class="section-title">
			<h2 class="title">Related Products</h2>
			<div class="pull-right">
			  <div class="product-slick-dots-1 custom-dots"></div>
			</div>
		  </div>
		</div>
		<!-- /section-title -->
  
		<!-- banner -->
		<!-- <div class="col-md-3 col-sm-6 col-xs-6">
		  <div class="banner banner-2">
			<img src="./inc/img/banner14.jpg" alt="" />
			<div class="banner-caption">
			  <h2 class="white-color">NEW<br />COLLECTION</h2>
			  <button class="primary-btn">Shop Now</button>
			</div>
		  </div>
		</div> -->
		<!-- /banner -->
  
		<!-- Product Slick -->
		<div class="col-md-12 col-sm-6 col-xs-6">
		  <div class="row">
			<div id="product-slick-1" class="product-slick">
			  <!-- Product Single -->
			  <% if( product.relatedProducts ) { %> <% for ( var i = 0; i <
				product.relatedProducts.length; i++ ) { %>
			  <div class="product product-single">
				<div class="product-thumb">
				  <div class="product-label">
					<span>New</span>
					<span class="sale">-20%</span>
				  </div>
				  <ul class="product-countdown">
					<li><span>00 H</span></li>
					<li><span>00 M</span></li>
					<li><span>00 S</span></li>
				  </ul>
				  <button class="main-btn quick-view" >
					<i class="fa fa-search-plus"></i><a href="/product/<%= relatedProducts[i]._id %>">Quick view</a> 
				  </button>
				  <img height="50%"
				  width="50%"
				  class="img-responsive"
				  alt="Card image cap"
				  src="<%= relatedProducts[i].image[0] %>" />
				</div>
				<div class="product-body">
				  <h3 class="product-price">
					<% if (relatedProducts[i].discount) { %> <%if
					  (relatedProducts[i].discount.enabled) { %> <%
					  if(relatedProducts[i].discount.usePercentage) { %> <% var
					  discountPrice = parseFloat(relatedProducts[i].sellingPrice) -
					  parseFloat((parseFloat(relatedProducts[i].sellingPrice) *
					  parseFloat(relatedProducts[i].discount.discountPercent)) / 100 );
					  %> <% } else { %> <% var discountPrice =
					  parseFloat(relatedProducts[i].sellingPrice) -
					  parseFloat(relatedProducts[i].discount.discountAmount); %> <% }
					  %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= relatedProducts[i].sellingPrice %>TK</del>
				  </h3>
				  <div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o empty"></i>
				  </div>
				  <h2 class="product-name">
					<a href="#"><%= relatedProducts[i].name %></a>
				  </h2>
				  <div class="product-btns">
					<button class="main-btn icon-btn">
					  <i class="fa fa-heart"></i>
					</button>
					<button class="main-btn icon-btn">
					  <i class="fa fa-exchange"></i>
					</button>
					<button class="primary-btn add-to-cart">
					  <i class="fa fa-shopping-cart"></i><a href="/product/<%= relatedProducts[i]._id %>">Add to Cart</a>
					</button>
				  </div>
				</div>
			  </div>
			  <% } %> <% } else { %>
				<p>No related product</p>
				 <% } %>
			  <!-- /Product Single -->
			</div>
		  </div>
		</div>
		<!-- /Product Slick -->
	  </div>
	  <!-- /row deals of the Day -->
  
	  <!-- row Latest -->
	  <div class="row">
		<!-- section title -->
		<div class="col-md-12">
		  <div class="section-title">
			<h2 class="title"> Latest Products</h2>
			<div class="pull-right">
			  <div class="product-slick-dots-2 custom-dots"></div>
			</div>
		  </div>
		</div>
		<!-- section title -->
  
		<% if( recentProducts ) { %> 
		<!-- Product Single -->
		<div class="col-md-3 col-sm-6 col-xs-6">
		  <div class="product product-single product-hot">
			<div class="product-thumb">
			  <div class="product-label">
				<span>New</span>
			  </div>
			  <div class="product-label">
			  </div>
			  <button class="main-btn quick-view">
				<i class="fa fa-search-plus"></i><a href="/product/<%= recentProducts[0]._id %>">Quick view</a>
			  </button>
			  <img height="50%"
			  width="50%"
			  class="img-responsive"
			  alt="Card image cap"
			  src="<%= recentProducts[0].image[0] %>" />
			</div>
			<div class="product-body">
			  <h3 class="product-price">
				<% if (recentProducts[0].discount) { %> <%if
				  (recentProducts[0].discount.enabled) { %> <%
				  if(recentProducts[0].discount.usePercentage) { %> <% var
				  discountPrice = parseFloat(recentProducts[0].sellingPrice) -
				  parseFloat((parseFloat(recentProducts[0].sellingPrice) *
				  parseFloat(recentProducts[0].discount.discountPercent)) / 100 );
				  %> <% } else { %> <% var discountPrice =
				  parseFloat(recentProducts[0].sellingPrice) -
				  parseFloat(recentProducts[0].discount.discountAmount); %> <% }
				  %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= recentProducts[0].sellingPrice %> TK</del>
			  </h3>
			  <div class="product-rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o empty"></i>
			  </div>
			  <h2 class="product-name"><a href="#"><%= recentProducts[0].name %></a></h2>
			  <div class="product-btns">
				<button class="main-btn icon-btn">
				  <i class="fa fa-heart"></i>
				</button>
				<button class="main-btn icon-btn">
				  <i class="fa fa-exchange"></i>
				</button>
				<button class="primary-btn add-to-cart">
				  <i class="fa fa-shopping-cart"></i><a href="/product/<%= recentProducts[0]._id %>">Add to Cart</a>
				</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- /Product Single -->
		<% } %> 
  
		<!-- Product Slick -->
		<div class="col-md-9 col-sm-6 col-xs-6">
		  <div class="row">
			<div id="product-slick-2" class="product-slick">
			  <!-- Product Single -->
			  <% if( recentProducts ) { %> <% for ( var i = 0; i < recentProducts.length; i++ ) { %>
			  <div class="product product-single">
				<div class="product-thumb">
				  <button class="main-btn quick-view">
					<i class="fa fa-search-plus"></i><a href="/product/<%= recentProducts[i]._id %>">Quick view</a>
				  </button>
				  <img height="50%"
				  width="50%"
				  class="img-responsive"
				  alt="Card image cap" src="<%= recentProducts[i].image[0] %>"/>
				</div>
				<div class="product-body">
				  <h3 class="product-price">
					<% if (recentProducts[i].discount) { %> <% if
					  (recentProducts[i].discount.enabled) { %> <%
					  if(recentProducts[i].discount.usePercentage) { %> <% var
					  discountPrice = parseFloat(recentProducts[i].sellingPrice) -
					  parseFloat((parseFloat(recentProducts[i].sellingPrice) *
					  parseFloat(recentProducts[i].discount.discountPercent)) / 100 );
					  %> <% } else { %> <% var discountPrice =
					  parseFloat(recentProducts[i].sellingPrice) -
					  parseFloat(recentProducts[i].discount.discountAmount); %> <% }
					  %> <% } %> <% } %> <%= discountPrice %> TK <del class="product-old-price"><%= recentProducts[i].sellingPrice %>TK</del>
				  </h3>
				  <div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o empty"></i>
				  </div>
				  <h2 class="product-name">
					<a href="#"><%= recentProducts[i].name %></a>
				  </h2>
				  <div class="product-btns">
					<button class="main-btn icon-btn">
					  <i class="fa fa-heart"></i>
					</button>
					<button class="main-btn icon-btn">
					  <i class="fa fa-exchange"></i>
					</button>
					<button class="primary-btn add-to-cart">
					  <i class="fa fa-shopping-cart"></i><a href="/product/<%= recentProducts[i]._id %>">Add to Cart</a> 
					</button>
				  </div>
				</div>
			  </div>
			  <% } %> <% } %>
			</div>
		  </div>
		</div>
		<!-- /Product Slick -->
	  </div>
	  <!-- /row Latest -->
	</div>
	<!-- /container -->
  </div>
  <!-- /section Related and Latest -->