<% layout('layoutPage') -%>

<div class="container" style="margin-top: 100px">

    <% if (errors.length > 0) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
    </div>
    <% } %>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
    </div>
    <% } %>

    <!-- Portfolio Item Row -->
    <% if(product) { %>
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid img-responsive" src="data:image/png;base64, <%= product.image %>" style="width:450px;">
        </div>
        <hr>

        <div class="col-md-6">
            <div class="well well-sm" style="background-color:#f4f7ff;">
                <h3>
                    <strong>
                        <%= product.name %>
                    </strong>
                </h3>
                <h4><b>Category Name: </b>
                    <%= product.categoryName %>
                </h4>
                <% if(product.subcategoryName) { %>
                <h4><b>Subcategory Name: </b>
                    <%= product.subcategoryName %>
                </h4>
                <% } %>
                <h4><b>Brand Name: </b>
                    <%= product.brandName %>
                </h4>
                <h4><b>Unit Price: </b>
                    <%= product.unitPrice %>TK
                </h4>
                <h4><b>Description: </b>
                    <%= product.description %>
                </h4>
                <br>
                <br>
                <div class="addtocart">
                    <a href="/add-to-cart/<%= product._id %>" class="btn btn-primary btn-md">Add Cart</a>
                </div>
                
            </div>

        </div>

    </div>
    <div class="row">
        <h2>Product Specification</h2>
        <div class="row">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Name</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.name %></strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Price</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.unitPrice %>TK
                        </strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Brand</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.brandName %></strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Model</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.model %>
                        </strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Weight</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.weight %> KG
                        </strong>
                    </div>
                </div>
                <% if(features) { %>
                <% for ( var i = 0; i < features.length; i++) { %>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= features[i].label %>
                        </strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= features[i].value %>
                        </strong>
                    </div>
                </div>
                <% } %>
                <% } %>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-6 ">
                        <strong>Warranty</strong>
                    </div>
                    <div class="col-md-3 col-md-6">
                        <strong>
                            <%= product.warranty %>
                        </strong>
                    </div>
                </div>
            </li>
        </div>
    </div>
    <% } %>
</div>