<% layout('layoutPage') -%>

<!-- NAVIGATION -->
<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav show-on-click">
        <span class="category-header"
          >ALL Categories ECL <i class="fa fa-list"></i
        ></span>
        <ul class="category-list">
          <li class="dropdown side-dropdown" role="menu" aria-labelledby="dropdownMenu">
            <% for(var i = 0; i < categories.length; i++) { %> <%
            if(categories[i].subCategories.length != 0) { %>
            <li class="dropdown-submenu pull-right1">
              <a tabindex="-1" href="/products/category/<%= categories[i].id %>">
                <%= categories[i].name %></a
              >
              <ul class="dropdown-menu">
                <% for(var j = 0; j < categories[i].subCategories.length; j++) { %>
                <li class="dropdown-submenu pull-right2">
                  <a
                    tabindex="-1"
                    data-target=""
                    href="/products/subCategory/<%= categories[i].subCategories[j].id %>"
                  >
                    <%= categories[i].subCategories[j].name %></a
                  >
                  <ul class="dropdown-menu pull-right2">
                    <% for(var k = 0; k <
                    categories[i].subCategories[j].brands.length; k++) { %>
                    <li>
                      <a
                        data-target=""
                        href="/products/<%= categories[i].id %>/<%= categories[i].subCategories[j].id %>/<%= categories[i].subCategories[j].brands[k].id %>"
                      >
                        <%= categories[i].subCategories[j].brands[k].name %></a
                      >
                    </li>
                    <% } %>
                  </ul>
                </li>
                <% } %>
              </ul>
            </li>
            <% }else{ %>
            <li class="dropdown-submenu pull-right1">
              <a
                tabindex="-1"
                data-target=""
                href="/products/category/<%= categories[i].id %>"
              >
                <%= categories[i].name %></a
              >
              <ul class="dropdown-menu">
                <% for(var k = 0; k < categories[i].brands.length; k++) { %>
                <li>
                  <a
                    data-target=""
                    href="/products/<%= categories[i].id %>/<%= categories[i].brands[k].id %>"
                  >
                    <%= categories[i].brands[k].name %></a
                  >
                  <% } %>
                </li>
              </ul>
            </li>
            <% } %> <% } %>
          </li>
        </ul>
      </div>
      <!-- /category nav -->

      <!-- menu nav -->
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li>
            <a href="/all-secondhandproduct"> Used Product</a>
          </li>
          <li>
            <a href="/pc-builder"
              ><i class="fa fa-desktop color-desktop"></i> PC Builder</a
            >
          </li>
          <li class="dropdown default-dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-expanded="true"
              >Pages <i class="fa fa-caret-down"></i
            ></a>
            <ul class="custom-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="products.html">Products</a></li>
              <li><a href="product-page.html">Product Details</a></li>
              <li><a href="checkout.html">Checkout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- menu nav -->
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- section -->
<div class="section">
  <div class="container">
    <!-- row title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Search Result</h2>
          <div class="pull-right">
            <div class="product-slick-dots-2 custom-dots"></div>
          </div>
        </div>
      </div>
      <!-- row title -->
    </div>
  </div>
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
      <% if (data.length === 0) { %>
        <h3>No product found for <%= query %></h3>
        <% } else { %>
        <h3>Results for <%= query %></h3>
        <div class="row">
          <% for ( var i = 0; i < data.length; i++ ) { %>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span></span>
                    <span class="sale"></span>
                  </div>
                  <button class="main-btn quick-view" >
                    <i class="fa fa-search-plus"></i><a href="/product/<%= data[i]._id %>">Quick view</a> 
                  </button>
                  <img height="50%"
                  width="50%"
                  class="img-responsive"
                  alt="Card image cap"
                  src="<%= data[i].image[0] %>" />
                </div>
                <div class="product-body">
                  <% if (data[i].discount) { %> <%if
                    (data[i].discount.enabled) { %> <%
                    if(data[i].discount.usePercentage) { %> <% var
                    discountPrice = parseFloat(data[i].sellingPrice) -
                    parseFloat((parseFloat(data[i].sellingPrice) *
                    parseFloat(data[i].discount.discountPercent)) / 100 );
                    %> <% } else { %> <% var discountPrice =
                    parseFloat(data[i].sellingPrice) -
                    parseFloat(data[i].discount.discountAmount); %> <% }
                    %> <% } %> <% } %>
                    <% if(discountPrice) { %> 
                      <h3 class="product-price">
                        <%= discountPrice %> TK <del class="product-old-price"><%= data[i].sellingPrice %>TK</del>
                      </h3>
                    <% } else { %>
                      <h3 class="product-price">
                        <%= data[i].sellingPrice %> TK
                      </h3>
                    <% } %>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name">
                    <a href="#"><%= data[i].name %></a>
                  </h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn">
                      <i class="fa fa-heart"></i>
                    </button>
                    <button class="main-btn icon-btn">
                      <i class="fa fa-exchange"></i>
                    </button>
                    <button class="primary-btn add-to-cart">
                      <i class="fa fa-shopping-cart"></i><a href="/product/<%= data[i]._id %>">Add to Cart</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
      </div>
    <!-- row -->
    </div>
  </div>
</div>